
<div class="col-headArea">
  <p class="col-caption">対象商品数</p>
  <p class="col-result"><span class="-strong">48</span>件</p>
</div>
<div class="col-bodyArea">
  <div class="aside-narrowDown">
    <div class="aside-nar__titleArea">
      <p class="aside-nar__display">絞り込み</p>
      <p class="aside-nar__delete">すべてを削除する</p>
    </div>
  </div>
  <ul class="aside-tagArea">
    <li><a href="" class="product-tag">ハーネス</a></li>
    <li><a href="" class="product-tag">ウェア</a></li>
    <li><a href="" class="product-tag">フード</a></li>
    <li><a href="" class="product-tag">滑らない床</a></li>
    <li><a href="" class="product-tag">オリジナル</a></li>
  </ul>
  <div class="aside-category">
    <h3 class="aside-cat__title">カテゴリー</h3>
    <ul class="aside-cat__lists">
      <li><a href="" class="aside-cat__list">ハーネス</a></li>
      <li><a href="" class="aside-cat__list">ウェア</a></li>
      <li><a href="" class="aside-cat__list">フード</a></li>
      <li><a href="" class="aside-cat__list">滑らない床</a></li>
    </ul>
  </div>
  <div class="aside-category">
    <h3 class="aside-cat__title">素材</h3>
    <ul class="aside-cat__lists">
      <li><a href="" class="aside-cat__list">プラチナ</a></li>
      <li><a href="" class="aside-cat__list">K18</a></li>
      <li><a href="" class="aside-cat__list">K14</a></li>
      <li><a href="" class="aside-cat__list">K10</a></li>
      <li><a href="" class="aside-cat__list">シルバー</a></li>
    </ul>
  </div>
  <div class="aside-category">
    <h3 class="aside-cat__title">カラー</h3>
    <ul class="aside-cat__lists">
      <li><a href="" class="aside-cat__list">ブラック</a></li>
      <li><a href="" class="aside-cat__list">ベージュ</a></li>
      <li><a href="" class="aside-cat__list">ピンク</a></li>
    </ul>
  </div>
  <div class="aside-category">
    <h3 class="aside-cat__title">ブランド</h3>
    <ul class="aside-cat__lists">
      <li><a href="" class="aside-cat__list">BONNEL</a></li>
      <li><a href="" class="aside-cat__list">NUKENAI</a></li>
      <li><a href="" class="aside-cat__list">ONETOUCH</a></li>
      <li><a href="" class="aside-cat__list">TEBURA</a></li>
      <li><a href="" class="aside-cat__list">AAAAA</a></li>
      <li><a href="" class="aside-cat__list">BBBBB</a></li>
    </ul>
  </div>
  <div class="aside-category">
    <h3 class="aside-cat__title">テーマ</h3>
    <ul class="aside-cat_lists">
      <!-- <li><a href="" class="aside-cat__list"></a></li> -->
    </ul>
  </div>
</div>
