 <section class="col">
        <div class="page-inner">
          <div class="page-contents">
            <div class="col-area">
              <div class="col-aside">
                <div class="col-headArea">
                  <p class="col-caption">対象商品数</p>
                  <p class="col-result"><span class="-strong">48</span>件</p>
                </div>
                <div class="col-bodyArea">
                  <div class="aside-narrowDown">
                    <div class="aside-nar__titleArea">
                      <p class="aside-nar__display">絞り込み</p>
                      <p class="aside-nar__delete">すべてを削除する</p>
                    </div>
                  </div>
                  <ul class="aside-tagArea">
                    <li><a href="" class="product-tag">ハーネス</a></li>
                    <li><a href="" class="product-tag">ウェア</a></li>
                    <li><a href="" class="product-tag">フード</a></li>
                    <li><a href="" class="product-tag">滑らない床</a></li>
                    <li><a href="" class="product-tag">オリジナル</a></li>
                  </ul>
                  <div class="aside-category">
                    <h3 class="aside-cat__title">カテゴリー</h3>
                    <ul class="aside-cat__lists">
                      <li><a href="" class="aside-cat__list">ハーネス</a></li>
                      <li><a href="" class="aside-cat__list">ウェア</a></li>
                      <li><a href="" class="aside-cat__list">フード</a></li>
                      <li><a href="" class="aside-cat__list">滑らない床</a></li>
                    </ul>
                  </div>
                  <div class="aside-category">
                    <h3 class="aside-cat__title">素材</h3>
                    <ul class="aside-cat__lists">
                      <li><a href="" class="aside-cat__list">プラチナ</a></li>
                      <li><a href="" class="aside-cat__list">K18</a></li>
                      <li><a href="" class="aside-cat__list">K14</a></li>
                      <li><a href="" class="aside-cat__list">K10</a></li>
                      <li><a href="" class="aside-cat__list">シルバー</a></li>
                    </ul>
                  </div>
                  <div class="aside-category">
                    <h3 class="aside-cat__title">カラー</h3>
                    <ul class="aside-cat__lists">
                      <li><a href="" class="aside-cat__list">ブラック</a></li>
                      <li><a href="" class="aside-cat__list">ベージュ</a></li>
                      <li><a href="" class="aside-cat__list">ピンク</a></li>
                    </ul>
                  </div>
                  <div class="aside-category">
                    <h3 class="aside-cat__title">ブランド</h3>
                    <ul class="aside-cat__lists">
                      <li><a href="" class="aside-cat__list">BONNEL</a></li>
                      <li><a href="" class="aside-cat__list">NUKENAI</a></li>
                      <li><a href="" class="aside-cat__list">ONETOUCH</a></li>
                      <li><a href="" class="aside-cat__list">TEBURA</a></li>
                      <li><a href="" class="aside-cat__list">AAAAA</a></li>
                      <li><a href="" class="aside-cat__list">BBBBB</a></li>
                    </ul>
                  </div>
                  <div class="aside-category">
                    <h3 class="aside-cat__title">テーマ</h3>
                    <ul class="aside-cat_lists">
                      <!-- <li><a href="" class="aside-cat__list"></a></li> -->
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-main">
                <div class="col-headArea__main">
                  <p class="col-caption">48件中1件〜20件を表示</p>
                  <div class="col-search">
                    <p class="col-filters">並び替え</p>
                    <p class="col-filters">アルファベット順, A-Z</p><img src="./assets/img/arrow-down.png" alt="arrow-down" class="arrow-down">
                    <p class="col-filters"></p>
                  </div>
                  <div class="col-headArea__mainSp">
                    <div class="col-search__sp">
                      <img src="./assets/img/icon-filters.png" alt="icon-filter" class="col-filter__icon">
                      <p class="col-filters__sp">絞り込みと並び替え</p>
                      <p class="col-filtersQuantity__sp">1-20件 / 24件</p>
                    </div>
                  </div>
                </div>
                <div class="col-bodyArea">
                  <ul class="col-items">
                    <li class="col-item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL_TEBURA<br> LEASH_ SET（ブラック）</h3>
                          <div class="product-color">ブラック</div>
                          <div class="product-price"><span class="product-emphasis">16,500</span>円（税込）</div>
                          <div class="discount-tag"></div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__tagArea">
                          <!-- <div class="discount-sale">Sale</div> -->
                        </div>
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL_TEBURA<br> LEASH_ SET（ベージュ）</h3>
                          <div class="product-color">ベージュ</div>
                          <div class="product-price">26,800<span class="product-emphasis">21,440</span>円（税込）</div>
                          <div class="top-news__discountArea">
                            <div class="discount-tag">20%off</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL LEASH SET (ブラック) ロング_ショート</h3>
                          <div class="product-color">ブラック</div>
                          <div class="product-sale"><span class="product-emphasis">16,500</span>円（税込）</div>
                          <div class="discount-tag"></div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL LEASH SET (ベージュ) ロング_ショート</h3>
                          <div class="product-color">ベージュ</div>
                          <div class="product-price"><span class="product-emphasis">16,500</span>円（税込）</div>
                          <div class="discount-tag"></div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (L)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price"><span class="product-emphasis">16,500</span>円（税込）</div>
                          <div class="discount-tag"></div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (M)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price"><span class="product-emphasis">16,500</span>円（税込）</div>
                          <div class="discount-tag"></div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (S)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price"><span class="product-emphasis">16,500</span>円（税込）</div>
                          <div class="discount-tag"></div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>
                    <li class="top-news__item">
                      <a href=""><img src="./assets/img/col-img1.png" alt="" class="col-product__img">
                        <div class="top-news__textArea">
                          <h3 class="product-name">25'BONNEL HARNESS (XS)</h3>
                          <div class="product-color">K10イエローゴールド</div>
                          <div class="product-price">26,800<span class="product-emphasis">24,120</span>円（税込）</div>
                          <div class="discount-tag">10%off</div>
                        </div>
                      </a>
                    </li>

                  </ul>
                  <div class="col-paginationArea">
                    <ul class="product-paginations">
                      <li><a href="" class="product-pagination">1</a></li>
                      <li><a href="" class="product-pagination">...</a></li>
                      <li><a href="" class="product-pagination">4</a></li>
                      <li><a href="" class="product-pagination is-current">5</a></li>
                      <li><a href="" class="product-pagination">6</a></li>
                      <li><a href="" class="product-pagination">...</a></li>
                      <li><a href="" class="product-pagination">10</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
