
<section class="top-fv">
  {% if section.settings.image %}
    <div class="top-image">
      <img class="top-img"
        src="{{ section.settings.image | image_url: width: 2000 }}"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
      >
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "トップFV画像",
  "tag": "section",
  "class": "top-image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "画像を選択"
    }
  ],
  "presets": [
    {
      "name": "トップFV画像"
    }
  ]
}
{% endschema %}
