/* base.cssに適用 */
@charset "UTF-8";

/* reset.css
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

header,footer,nav,section,article,main,
aside,figure,figcaption {
  display: block;
}

ul, ol {
  list-style:none;
}

img {
  border: none;
  vertical-align: bottom;
}

a,button,label {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

a {
	display: block;
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

/* 共通パーツ
=========================== */

html {
  font-size: 62.5%; /*  1rem = 10px  */
  scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-family:  "Noto Sans JP", "Lato", Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: .1em;
	background: transparent;
	color: #292929;
	-webkit-font-smoothing: antialiased;
}

.page-inner {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

.page-contents {
	margin: 0 auto;
	/* max-width: 1152px; */
	max-width: calc(1152px + 32px);
	padding: 0 16px;
}

/* コンポーネント
=========================== */
.login-icon {
	width: 36px;
	height: auto;
}

.cart-icon {
	width: 36px;
	height: auto;
}

.insta-icon {
	width: 18px;
	height: auto;
}

.line-icon {
	width: 20px;
	height: auto;
}

.credit-icon {
	width: 38px;
	height: auto;
}

.section-title__fv {
	font-family: "Lato";
	font-weight: 700;
	font-size: 40px;
	line-height: 1;
	vertical-align: bottom;
}

.section-title {
	font-family: "Lato";
	font-weight: 700;
	font-size: 40px;
	line-height: 1;
	vertical-align: bottom;
}

.section-subTitle {
	margin-top: 8px;
	font-size: 14px;
	line-height: 1;
	color: #999;
}

.c-btn {
	display: inline-block;
	background: #292929;
	border: 1px solid #292929;
	font-weight: 700;
	line-height: 1.68;
	color: #fff;
	padding: 18px;
	width: 312px;
	border-radius: 99px;
	position: relative;
}

.c-btn::after {
	content: "";
	position: absolute;
	background: url(../assets/arrow-rightWhite.png)no-repeat center center /contain;
	width: 8px;
	height: 8px;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}

.c-btn__about {
	background: #AB8572;
	font-weight: 700;
	line-height: 1.68;
	color: #fff;
	padding: 18px;
	width: 312px;
	border-radius: 99px;
	position: relative;
}

.c-btn__about::after {
	content: "";
	position: absolute;
	background: url(../assets/arrow-rightWhite.png)no-repeat center center /contain;
	width: 5px;
	height: 8px;
	top: 50%;
	transform: translateY(-50%);
	right: 28px;
}

.c-btn__pro {
	background: #292929;
	font-weight: 700;
	line-height: 1.68;
	color: #fff;
	padding: 18px;
	width: 100%;
	border-radius: 99px;
	position: relative;
}

.c-btn__pro::after {
	content: "";
	position: absolute;
	background: url(../assets/arrow-rightWhite.png)no-repeat center center /contain;
	width: 5px;
	height: 8px;
	top: 50%;
	transform: translateY(-50%);
	right: 28px;
}

.c-btn:hover,
.c-btn__about:hover,
.c-btn__pro:hover {
	background: #fff;
	border: 1px solid #AB8572;
	color: #AB8572;
}

.c-btn:hover::after,
.c-btn__about:hover::after,
.c-btn__pro:hover::after {
	background: url(../assets/arrow-rightGold.png)no-repeat center center /contain;
}

.c-btn__byNow {
	background: #dcd7cf;
	border: 1px solid #292929;
	color: #292929;
	font-weight: 700;
	line-height: 1.68;
	padding: 18px;
	width: 100%;
	border-radius: 99px;
	position: relative;
}

.c-btn__byNow::after {
	content: "";
	position: absolute;
	background: url(../assets/arrow-rightBlack.png)no-repeat center center /contain;
	width: 5px;
	height: 8px;
	top: 50%;
	transform: translateY(-50%);
	right: 28px;
}

.c-btn__label {
	background: #AB8572;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0;
	color: #fff;
	padding: 6px 9px;
	border-radius: 20px;
}

.c-btn__labelSo {
	background: #292929;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0;
	color: #fff;
	padding: 6px 8px;
	border-radius: 20px;
}

.breadcrumbs-area {
	margin-top: 60px;
	display: flex;
	align-items: center;
}

.breadcrumb-text {
	font-size: 12px;
	line-height: 1.5;
}

/* 商品コンポーネント
=========================== */
.product-img {
	max-width: 282px;
  height: auto;
  display: block;

	/* position: relative; */
}

.product-name {
	font-weight: 700;
	line-height: 1.2;
}

.product-item {
	font-size: 14px;
	line-height: 1.2;
}

.product-price {
	margin-top: 8px;
	font-size: 12px;
}

.product-emphasis {
	font-family: "Lato";
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0;
}

.discount-tag {
	display: inline-block;
	font-family: "Lato";
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0;
	padding: 6px 9px;
	border: 1px solid #AB8572;
	border-radius: 30px;
	background-color: #AB8572 ;
	color: #fff;
}

.cat-img {
	width: 100%;
	max-width: 224px;
	height: auto;
}

.sns-img {
	width: 100%;
	max-width: 282px;
	height: auto;
}

.product-tag {
	display: inline-block;
	background: #AB8572;
	padding: 4px 16px;
	padding-right: 33px;
	border-radius: 36px;
	color: #fff;
	font-size: 14px;
	line-height: 2;
	font-weight: 700;
	position: relative;
}

.product-tag::after {
	content: "";
	position: absolute;
	background: url(../assets/plus-icon.png)no-repeat center center /contain;
	width: 12px;
	height: 12px;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

/* ヘッダーエリア
=========================== */
.header-inner {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: transparent;
  z-index: 99;
  transition: background-color 0.3s ease;
}

.header-inner.scrolled {
	background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.header-area {
	position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1152px;
  height: 72px;
  padding-top: 12px;
  z-index: 100;
}

.header-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* ドロワーエリア
=========================== */
.drawer-icon {
	display: none;
}

.header-logo {
	width: 177px;
	height: auto;
}

.header-navArea {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 36px;
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;
}

.header-nav__link:hover {
	background: #292929;
	padding: 12px;
	border-radius: 12px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}

.header-icon {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
}

/* トップページ FVセクション
=========================== */
.top-fv {
	margin: 0 auto;
  width: 100%;
}

.top-image {
	width: 100%;
}

.top-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
	height: auto;
  aspect-ratio: 16 / 9;
}

.top-fvContent {
	width: 100%;
	margin: 55px auto 0;
}

.top-fv__titleArea {
	text-align: center;
}

.top-fv__contents {
	width: 100%;
  max-width: 1152px;
	margin: 72px auto 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	justify-content: center;
	gap: 36px;
}

.top-fv__img {
	max-width: 640px;
	height: auto;
  vertical-align: bottom;
}

.top-fv__text {
	max-width: 476px;
	font-size: 14px;
	line-height: 2.0;
}

.top-fv__btnArea {
	margin-top: 48px;
	text-align: center;
}

/* recommendセクション
=========================== */
.top-recommend {
	margin: 92px auto 0;
}

.top-rec__titleArea {
	text-align: center;
}

.top-rec__items {
	width: 100%;
	margin-top: 72px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(282px, auto));
	justify-content: center;
  gap: 32px 8px;
}

.top-rec__item {
	width: 100%;
	max-width: 282px;
	height: 416px;
}

.top-rec__imgWrap {
	position: relative;
	display: inline-block;
}

.top-rec__tag {
	content: "";
	position: absolute;
	bottom: 8px;
	left: 8px;
}


.top-rec__img {
	max-width: 282px;
  height: auto;
	border: 1px solid #292929;
	border-radius: 12px;
}

.top-rec__tagArea {
	content: "";
	position: absolute;
	top: 10%;
	left: 0;
	z-index: 50;
}

.top-rec__textArea {
	margin-top: 8px;
}

.top-rec__discountArea {
	position: relative;
	margin-top: 8px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.top-rec__discountTag {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 8px;
}
.top-rec__btnArea {
	margin-top: 48px;
	text-align: center;
}

/* categoryセクション
=========================== */
.top-category {
	margin: 68px auto 0;
}

.top-cat__titleArea {
	width: 100%;
	text-align: center;
}

.top-cat__items {
	margin-top: 72px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(224px, auto));
	justify-content: center;
  gap: 20px 8px;
}

.top-cat__item {
	width: 100%;
	position: relative;
}

.top-cat__item:hover::before {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(41, 41, 41, 0.4);
	mix-blend-mode: screen;
	pointer-events: none;
	border-radius: 12px;
}

/* snsセクション
=========================== */
.top-sns {
	margin: 0 auto;
}

.top-sns__titleArea {
	margin-top: 117px;
	text-align: center;
}

.top-sns__items {
	margin-top: 72px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(282px, auto));
	justify-content: center;
  gap: 20px 8px;
}

.top-sns__item {
	width: 100%;
}

/* フッターエリア
=========================== */
.footer-area {
	margin-top: 87px;
}

.footer-upper {
	padding: 47px 0 24px;
	width: 100%;
  background: #DDDDDD;
}

.footer-nav {
	display: grid;
	align-items: start;
	grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
	gap: 24px 0px;
}

.footer-logoImg {
	width: 177px;
	height: auto;
}

.footer-snsArea {
	margin-top: 18px;
	display: flex;
	align-items: center;
	gap: 30px;
	gap: 12px;
}

.footer-snsArea .sns-icon svg {
  width: 24px;
  height: 24px;
  fill: #333;
  transition: fill 0.3s ease;
}
.footer-snsArea .sns-icon:hover svg {
  fill: #888;
}

.footer-menuArea {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer-menu {
	padding-left: 12px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
}

.footer-catArea {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer-catList__main {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
}

.footer-catList {
	padding-left: 18px;
	font-size: 14px;
	line-height: 1.7;
	position: relative;
}

.footer-catList::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 1px;
	background: #292929;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.footer-low__textArea {
	text-align: center;
	padding: 9px;
}

.footer-low__text {
	color: #fff;
	font-size: 10px;
	line-height: 1.8;
	letter-spacing: 0;
}

.footer-creditArea {
	margin-top: 50px;
}

.footer-credit_items {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
}

.footer-middle {
	background: #DDDDDD;
	border-top: 0.5px solid #292929;
	padding: 40px 0 20px;
}

.footer-contents {
	margin: 0 auto;
	max-width: 891px;
	display: flex;
	align-items: center;
	justify-content: start;
	justify-content: center;
	gap: 40px;
}

.footer-content {
	margin-left: 12px;
	font-size: 12px;
	line-height: 2;
}

.footer-lower {
	background: #292929;
}

/* about ページ
=========================== */
.about {
  margin: 72px auto 0;
  width: 100%;
}

.about-fv {
  margin-top: 44px;
  text-align: center;
}

.about-fv__titleArea {

}

.about-messageArea {
  margin-top: 44px;
}

.about-message {
  font-size: 24px;
  font-weight: 700;
}

.about-message__textArea {
  margin-top: 32px;
}

.about-message__text {
  font-size: 14px;
  line-height: 2;
}

.about-commitment {
  margin-top: 264px;
}

.about-com__titleArea {
  text-align: center;
}

.about-message__span {
  /* margin-right: 10px; */
  font-size: 32px;
}

.about-com__contents {
  margin-top: 32px;
}

.about-com__content {
  margin-top: 72px;
  display: flex;
	align-items: stretch;
  gap: 48px;
}

.about-com__content:first-of-type {
  margin-top: 0;
}

.about-com__content:nth-of-type(2) {
  flex-direction: row-reverse;
}

.about-com__left {
  width: 100%;
  max-width: 576px;
}

.about-com__img {
  width: 100%;
  max-width: 576px;
  height: auto;
}

.about-com__right {
  width: 100%;
  max-width: 540px;
}

.about-com__rightArea {
	display: flex;
  flex-direction: column;
  height: 100%;
}

.about-com__ttlArea {
  display: flex;
  align-items: center;
  gap: 24px;
}

.about-com__number {
  color: #CDC2B5;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Lato';
}

.about-com__title {
  font-size: 20px;
	font-weight: 700;
}

.about-com__bottom {
  margin-top: 24px;
}

.about-com__btnArea {
  margin-top: 32px;
	margin-top: auto;
}

/* サイドバー
=========================== */
.col-aside {
  width: 244px;
}

.side-narrowDown {
	width: 100%;
}

.aside-nar__titleArea {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.aside-nar__display {
	font-size: 14px;
	line-height: 1.7;
}

.aside-nar__delete {
	font-size: 12px;
	font-weight: 700;
	text-decoration: underline;
}

.aside-tagArea {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aside-category {
  margin-top: 10px;
}

.aside-category:nth-child(n + 2) {
  margin-top: 20px;
}

.aside-cat__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  padding-bottom: 10px;
  padding-left: 16px;
  border-bottom: 1px solid #999999
}

.aside-cat__lists {
  margin-top: 10px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-cat__list {
  padding-left: 31px;
  position: relative;
}

.aside-cat__list::before {
  content: "";
  position: absolute;
  border: 1px solid #292929 ;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/* collection(一覧)ページ
=========================== */
.col-fv {
  width: 100%;
}

.col-breadcrumb {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  gap: 5px;
	font-size: 14px;
}

.col-breadcrumb li {
	display: flex;
	align-items: center;
}

.col-breadcrumb li::after {
  content: ">";
	display: inline-block;
  margin: 0 5px;
}

.col-breadcrumb li:last-child::after {
  content: "";
}

.col-fv__titleArea {
  margin-top: 88px;
  text-align: center;
}

.col-area {
  margin-top: 72px;
  display: flex;
  gap: 32px;
}

.col-main {
  width: 100%;
  max-width: calc(100% - 244px);
}

.col-headArea {
  height: 44px;
}

.col-headArea__main {
  width: inherit;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-headArea__mainSp {
  display: none;
}

.col-caption {
  font-size: 12px;
	letter-spacing: .01em;
}

.col-result {
  font-size: 14px;
  line-height: 1;
}

.col-result .-strong {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato";
  line-height: 1.1;
}

.col-search {
  display: flex;
  align-items: center;
  gap: 12px;
	position: relative;
}

.col-filters {
  font-size: 12px;
  font-weight: 700;
}

.arrow-down {
  margin-left: -10px;
  width: 8px;
  height: 8px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.sort-options {
  flex-direction: column;
  margin-top: 10px;
}

.arrow-down.active {
  transform: rotate(180deg);
}

.col-bodyArea {
  margin-top: 24px;
}

.col-items {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(213px, auto));
	justify-content: start;
	align-items: center;
  gap: 32px 8px;
}

.col-item {
  width: auto;
  height: 323px;
}

.col-product__img {
	max-width: 213px;
  height: auto;
  border-radius: 12px;
}

#js-sort-options {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-top: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 4px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

#js-sort-options.open {
  max-height: 500px; /* メニューの最大高さ（調整可能） */
  padding: 10px;
}

#js-sort-options a {
  display: block;
  padding: 8px 10px;
  color: #333;
  text-decoration: none;
}

#js-sort-options a:hover {
  background-color: #f5f5f5;
}

#js-toggle-sort {
  cursor: pointer;
  transition: transform 0.3s ease;
}

#js-toggle-sort.active {
  transform: rotate(180deg);
}

/* ページネーション
=========================== */
.col-paginationArea {
  margin-top: 48px;
  text-align: center;
}

.product-paginations {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.product-pagination {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-right-width: 1px;
  border-left-width: 1px;
  background: #DCD7CF;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 700;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-pagination.is-current {
  background: #AB8572;
  color: #fff;
}

/* pro セクション
=========================== */
.pro-area {
  margin-top: 88px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 72px;
}

.pro-imgArea {
  width: 100%;
  max-width: 540px;
}

.pro-img__main {
  width: 100%;
  max-width: 540px;
  height: auto;
	border-radius: 36px;
	transition: opacity 0.4s ease;
  opacity: 1;
}

.pro-img__main.fade-out {
  opacity: 0;
}

.pro-img__thumbArea {
  margin-top: 6px;
	padding: 0 42px;
  max-width: 540px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.pro-img__thumbArea::before,
.pro-img__thumbArea::after {
  /* content: "";
  position: absolute;
  width: 5px;
  height: 8px;
	transition: opacity 0.3s ease; */
}

.pro-img__thumbArea::before {
  background: url(../assets/arrow-leftBlack.png)no-repeat center center /contain;
  top: 50%;
  transform: translateY(-50%);
	left: 22px;
}

.pro-img__thumbArea::after {
  background: url(../assets/arrow-rightBlack.png)no-repeat center center /contain;
  top: 50%;
  transform: translateY(-50%);
	right: 22px;
}

.pro-img__thumbnail {
  max-width: 71px;
  height: auto;
	border-radius: 6px;
}

.pro-img__thumbArea:hover::before,
.pro-img__thumbArea:hover::after {
  opacity: 0.5;
}

.pro-img__textArea {
	margin: 64px auto 0;
	max-width: 540px;
	height: auto;
	font-size: 14px;
	line-height: 2;
}

.pro-img__text2 {
	margin-top: 10px;
}

.pro-contentsArea {
  width: 100%;
  max-width: 540px;
}

.pro-title {
  font-size: 24px;
  font-weight: 700;
}

.pro-contents {
  margin-top: 16px;
}

.pro-price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	font-family: 'Lato';
	letter-spacing: 0;
}

.pro-old-price {
	text-decoration: line-through;
	color: #999;
	font-size: 18px;
}

.pro-emphasis {
	font-size: 24px;
	line-height: 1.3;
	font-weight: 700;
}

.pro-cont__wrap {
	margin-top: 16px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 30px;
}

.pro-cont__colorArea {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 25px;
}

.pro-cont__colorArea .pro-color__option input:checked + .pro-cont__colorDot {
  outline: 2px solid #d9d9d9;
  outline-offset: 2px;
}

.pro-cont__sizeArea {
	width: 140px;
	border: 1px solid #292929;
	padding: 6px 10px;
	position: relative;
	cursor: pointer;
	background-color: transparent;
}

.pro-cont__sizeArea::after {
	content: "";
	position: absolute;
	background: url(../assets/icon-arrow-down.png) no-repeat center center / contain;
	width: 17px;
	height: 17px;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	cursor: pointer;
	pointer-events: none;
}

.pro-cont__size {
	font-size: 16px;
	line-height: 1;
	font-weight: 700;
  background-color: transparent;
  border: none;
  width: 100%;
  padding-right: 20px;
	cursor: pointer;
}

.pro-cont__size:focus {
  background-color: transparent;
  outline: 2px solid #fff;
}

.pro-cont__quantity {
	text-align: center;
	font-size: 18px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0;
}

.pro-detail {
  margin-top: 24px;
}

.pro-name {
  font-weight: 700;
}

.pro-detailArea {
  margin-top: 8px;
  width: 100%;
  padding: 25px 36px;
  background: #dcd7cf;
  border-radius: 12px;
}

.pro-detail__dl {
  margin-top: 15px;
  display: flex;
  align-items: start;
  gap: 64px;
}

.pro-detail__dl:first-of-type {
  margin-top: 0;
}

.pro-detail__dt {
  width: 60px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
}

.pro-detail__dd {
  font-size: 14px;
  line-height: 1.3;
}

.pro-contents__note {
  margin-top: 16px;
  font-size: 14px;
  line-height: 2;
}

.pro-btnArea {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pro-labels {
  margin-top: 32px;
}

.pro-label {
  background: #dcd7cf;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 40px;
	position: relative;
	cursor: pointer;
	border-top: 0.5px solid #999;
}

.pro-label::after {
	content: "";
	position: absolute;
	background: url(../assets/icon-plus.svg) no-repeat center center /contain;
	width: 12px;
	height: 12px;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	transition: transform .3s ease;
}

.pro-label.is-open::after {
  background: url(../assets/icon-minus.svg) no-repeat center center / contain;
}

/* 単独のとき：上下どちらも */
.pro-label.is-single {
	border-block: .5px solid #999;
}

/* 最初だけ：上線あり */
.pro-label.is-first {
  border-top: 0.5px solid #999;
}

/* 最後だけ：下線あり */
.pro-label.is-last {
	border-bottom: 0.5px solid #999;
}

/* 中間：線なし（上下とも他の要素が担当） */
.pro-label:not(.is-single):not(.is-first):not(.is-last) {
  border-bottom: none;
}

.note-icon {
  width: 16px;
  height: auto;
}

.pro-label__text {
  font-size: 14px;
  line-height: 2;
}

.pro-label__note {
  font-size: 14px;
  line-height: 2;
  padding: 8px 30px 64px 0;
}

.js-accordion-content {
  display: none;
  transition: all .3s ease;
}

.pro-label.is-open + .js-accordion-content {
  display: block;
}

.pro-cont__shareArea {
	margin-top: 16px;
}

.custom-share-style {
  display: inline-flex;
  align-items: center;
  gap: 6px;
	padding-left: 20px;
}

.custom-share-style img {
  width: 14px;
  height: auto;
}

.custom-share-style .share-text {
  font-size: 14px;
  color: #333;
}


/* pro-checkedセクション
=========================== */
.pro-checked {
  margin: 0 auto;
}

.pro-checked__titleArea {
  margin-top: 62px;
}


.pro-checked__items {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 32px 8px;
}

.pro-checked__item {
	width: 100%;
	height: 392px;
}

.pro-checked__textArea {
  margin-top: 8px;
}

.pro-checked___discountArea {
	/* content: "";
	position: absolute; */
	top: 110%;
	left: 0;
}

/* pro-catセクション
=========================== */
.pro-cat {
  margin-top: 144px;
}

.pro-cat__items {
  margin-top: 32px;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  gap: 20px 8px;
}

.pro-cat__item {
  width: 100%;
}

/* guide ページ
=========================== */
.guide {
  margin: 72px auto 0;
  width: 100%;
  max-width: 720px;
}

.guide-titleArea {
	margin-top: 72px;
}

.guideFv-title {
	font-size: 28px;
	font-weight: 700;
}

.guideFv-text {
	margin-top: 32px;
	font-size: 14px;
	line-height: 2.0;
}

.guide-contents {
  margin-top: 24px;
}

.guide-content {
  margin-top: 24px;
}

.guide-content:first-of-type {
  margin-top: 0px;
}

.guide-text {
  font-size: 14px;
  line-height: 2;
}

.guide-title {
  margin-top: 24px;
  width: 100%;
  background: #292929;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 14px 24px;
  border-radius: 8px;
}

.guide-textArea {
  margin-top: 24px;
}

.guide-lists {
  margin-top: 24px;
}

.guide-list {
  font-size: 14px;
  line-height: 2;
  padding-left: 18px;
  position: relative;
}

.guide-numbers {
	margin-top: 24px;
	padding-left: 18px;
  list-style: decimal;
}

.guide-number {
	font-size: 14px;
	line-height: 2;
}

.guide-list::before {
  content: "";
  position: absolute;
  background: #AB8572;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.guide-linkArea {
  margin-top: 24px;
}

.guide-link {
  font-size: 14px;
  line-height: 2;
  color: #AB8572;
  text-decoration: underline;
}

.guide-table {
  margin-top: 24px;
  border-collapse:  collapse;
}

.guide-table__th,
.guide-table__td {
  border: 1px solid #292929;
  max-width: 240px;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  text-align-last: left;
}

.guide-imgArea {
  margin-top: 40px;
}

.guide-img {
  width: 100%;
  max-width: 720px;
  height: auto;
}

.guide-captionArea {
  margin-top: 40px;
}

.guide-caption__h3 {
  font-size: 20px;
  line-height: 2.8;
  font-weight: 700;
  padding-left: 25px;
  position: relative
}

.guide-caption__h3::before {
  content: "";
  position: absolute;
  background: #CDC2B5;
  width: 4px;
  height: 56px;
  border-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.guide-caption__h4 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 24px;
  padding-bottom: 11px;
  border-bottom:1px solid #CDC2B5;
}

.guide-btnArea {
  margin: 76px auto 0;
  text-align: center;
}

/* faqセクション
=========================== */
.faq {
  margin: 72px auto 0;
  width: 100%;
  max-width: 720px;
}

.faq-contents {
  margin-top: 32px;
}

.faq-title {
  margin-top: 24px;
  width: 100%;
  background: #292929;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 14px 24px;
  border-radius: 8px 8px 0 0;
}

.faq-content {
  margin-top: 72px;
}

.faq-content:first-of-type {
  margin-top: 0;
}

.faq-accordionArea {
  width: 100%;
}

.accordion-q {
  background: #DCD7CF;
  padding: 14px 24px 14px 57px;
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid #959595;
  position: relative;
	cursor: pointer;
}

.accordion-q:first-of-type {
  border-top: 1px solid #959595;
}

.accordion-q::before {
  content: "";
  position: absolute;
  background: url(../assets/icon-q.png) no-repeat center center /contain;
  width: 17px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.accordion-q::after {
  content: "";
  position: absolute;
  background: url(../assets/arrow-down.png)no-repeat center center /contain;
  width: 8px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
	transition: transform 0.3s ease;
}

.accordion-a {
	display: none;
  background: #EDE8E2;
  padding: 14px 24px 14px 57px;
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid #959595;
  position: relative;
  transition: all 0.6s ease;
}

.accordion-a::before {
  content: "";
  position: absolute;
  background: url(../assets/icon-a.png)no-repeat center center /contain;
  width: 17px;
  height: 24px;
  top: 25%;
  left: 16px;
}

.accordion-a.active {
  display: block;
}

.accordion-q.active::after {
  transform: translateY(-50%) rotate(180deg);
}

/* commerce ページ
=========================== */
.com {
  margin: 72px auto 0;
  width: 100%;
  max-width: 720px;
}

.com-title {
  font-size: 28px;
  font-weight: 700;
}

.com-content {
  margin-top: 32px;
}

.com-subTitle {
  font-size: 24px;
  font-weight: 700;
}

.com-textArea {
  margin-top: 16px;
}

.com-text {
  font-size: 14px;
  line-height: 2;
}

.com-lists {
  margin-top: 16px;
}

.com-list {
  margin-top: 8px;
  list-style: decimal inside;
  font-size: 14px;
  line-height: 2;
}

.com-list:first-of-type {
  margin-top: 0;
}


/* ===========================
# レスポンシブ対応
=========================== */
@media screen and (max-width: 768px) {

	/* コンポーネント
	=========================== */
	.product-img {
		max-width: 167px;
	}

	.section-title__fv {
		font-size: 20px;
	}

	.section-title {
		font-size: 32px;
	}

	.product-name {
		font-size: 14px;
	}

	/* ヘッダーエリア
	=========================== */
	.header-wrap {
		padding: 0 16px;
	}

	.drawer-icon {
		display: block;
	}

	.drawer-icon__img {
		width: 40px;
		height: 40px;
	}

	.glass-icon__img {
		width: 40px;
		height: 40px;
	}

	.drawer-icon__bar {
		width: 20px;
		height: 12.5px;
	}

	.drawer-icon__bar:nth-of-type(2) {
		top: 4px;
	}
	.drawer-icon__bar:nth-of-type(3) {
		top: 8px;
	}

	.header-nav {
		display: none;
	}

	/*  topページ FVセクション
	=========================== */
	.top-fv__imgArea {
  /* height: 215px; */
	}

	.top-fv__titleArea {
		margin-top: 17px;
	}

	.top-fv__content {
		margin-top: 17px;
		flex-direction: column;
		gap: 15px;
	}

  .top-fv__img,
	.top-fv__text {
		width: 100%;
	}

	.top-fv__btnArea {
		margin-top: 17px;
	}

	/* recommendセクション
	=========================== */
	.top-rec__titleArea {
		margin-top: 30px;
	}

	.top-rec__items {
		max-width: 100%;
		margin-top: 48px;
		grid-template-columns: repeat(auto-fit, minmax(167px, auto));
		justify-content: center;
	}

	.top-rec__item {
		max-width: 100%;
		height: auto;
	}

	.top-rec__img {
		width: 100%;
	}

	.top-rec__btnArea {
		margin-top: calc(32px + 26px);
	}

	/* categoryセクション
	=========================== */
	.top-cat__titleArea {
		margin-top: 33px;
	}

  .top-cat__items {
	max-width: 100%;
	margin-top: 48px;
	grid-template-columns: repeat(auto-fit, minmax(167px, auto));
	justify-content: center;
  gap: 8px;
	}

	/* snsセクション
	=========================== */
	.top-sns__titleArea {
		margin-top: 33px;
	}

	.top-sns__items {
	max-width: 100%;
	margin-top: 48px;
	grid-template-columns: repeat(auto-fit, minmax(167px, auto));
	justify-content: center;
		gap: 8px;
	}

	/* フッターエリア
	=========================== */
  .footer-upper {
		padding-top: 24px;
	}

	.footer-menu {
		margin-left: 0;
	}

	.footer-credit_items {
		justify-content: start;
	}

	.footer-middle {
		background: #999999;
		border-top: none;
		padding: 16px 0;
	}

	.footer-contents {
		flex-direction: column;
		align-items: start;
		gap: 16px;
	}

	.footer-content  {
		margin-left: 0;
	}

	/* aboutページ
	=========================== */
	.about-message {
    font-size: 19px;
  }

  .about-message__span {
    font-size: 24px;
  }

  .about-com__content {
		margin-top: 48px;
    flex-direction: column !important;
		gap: 10px;
  }

  .about-com__title {
    font-size: 18px;
  }

	.about-com__btnArea {
  margin-top: 32px;
	}

	/*  一覧ページ
  =========================== */
  .col-area {
    margin-top: 24px;
    flex-direction: column;
    gap: 24px;
  }

    /* 一覧ページ
  =========================== */
  .col-headArea,
  .col-headArea__main {
    display: none;
  }

  .col-headArea__mainSp {
    display: block;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .col-main {
    max-width: 768px;
  }

  .col-search {

  }

  .col-items {

    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(167px, 1fr));
    gap: 32px 8px;
  }

	.pro-area {
    flex-direction: column;
    gap: 60px;
  }

}


/* ===========================
# drawer
=========================== */
.drawer-contents {
	width: 240px;
	height: auto;
	background: #D5D5D5;
	border: 1px solid  #292929;
	border-radius: 12px;
	position: fixed;
	top: 72px;
	left: 16px;
	z-index: 50;
	transform: translateX(-110%);
	transition: transform 0.3s linear;
}

.drawer-contents.is-checked {
	transform: translateX(0);
}

.drawer-content {

}

.drawer-content__link,
.drawer-content__linkPlus {
	display: block;
	padding: 12px;
	position: relative;
}

.drawer-content__linkPlus::after {
	content: "";
	position: absolute;
	background: url(../img/icon-plus.png)no-repeat center center /contain;
	width: 12px;
	height: 12px;
	top: 50%;
	transform: translateY(-50%);
	right: 50px;
}

.drawer-content__link:hover
.drawer-content__linkPlus:hover {
	background: #292929;
	padding: 12px;
	border-radius: 12px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
